body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Định nghĩa kiểu chung */
.slot {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid white;
    background-color: #444141;
    display: flex; /* Sử dụng Flexbox */
    flex-direction: column; /* Đặt chiều dọc */
    align-items: center; /* Căn giữa các phần tử */
    justify-content: center;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.lane-logo {

    width: 50px;
    height: auto;
  }
  @font-face {
    font-family: 'SVNOMNY';
    src: url('../../shared/font/SVNOMNYBLACK.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

  .player-name {
    font-family: 'SVNOMNY'; /* Sử dụng font chữ tùy chỉnh */
    font-size: 15px; /* Kích thước font chữ */
    color: #ffffff; /* Màu chữ */
    text-align: center;
    position: absolute;
    bottom: 5px;
    z-index: 2;
    text-transform: uppercase;
  }

/* Kích thước các slot */
.ban {
    width: 90px;
    height: 112px;
}
.pick {
    width: 170px; /* Kích thước cố định cho ô pick */
    height: 246px; /* Kích thước cố định cho ô pick */
    transition: none; /* Không có hiệu ứng chuyển tiếp khi thay đổi trạng thái */
    position: relative; /* Để giữ vị trí cố định */
    margin: -3px; /* Đè lên nhau */
}
.pick-list {
    display: flex;
    gap: 0px; 
}
.ban-list {
    display: flex;
    gap: 20px;
    position: relative;
}
.active {
    border: 3px solid gray;
    position: relative;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 3;
    animation: borderGlow 2s linear infinite;
    align-items: center; /* Căn giữa các phần tử */
    justify-content: center;

}

.active::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 5px solid transparent;
    border-image: linear-gradient(
        to right,
        transparent,
        rgb(255, 0, 0),
        transparent
    ) 1;
    animation: borderRun 2s linear infinite;
    pointer-events: none;
    z-index: 3;
}
.heroheroImage {
    position: absolute;
}

#countdown {
    font-family: 'SVNOMNY'; /* Sử dụng font chữ tùy chỉnh */
    font-size: 50px; /* Kích thước font chữ */
    color: #ffffff; /* Màu chữ */
    text-align: center;
    bottom: 5px;
    text-transform: uppercase;
}

@keyframes glow {
    0% { box-shadow: 0 0 10px yellow; }
    50% { box-shadow: 0 0 20px orange; }
    100% { box-shadow: 0 0 10px yellow; }
}



@keyframes zoomInOut {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes borderGlow {
    0% {
        box-shadow: inset 0 0 5px yellow, inset 0 0 10px yellow, inset 0 0 15px yellow, inset 0 0 20px yellow;
    }
    25% {
        box-shadow: inset 0 0 5px orange, inset 0 0 10px orange, inset 0 0 15px orange, inset 0 0 20px orange;
    }
    50% {
        box-shadow: inset 0 0 5px red, inset 0 0 10px red, inset 0 0 15px red, inset 0 0 20px red;
    }
    75% {
        box-shadow: inset 0 0 5px orange, inset 0 0 10px orange, inset 0 0 15px orange, inset 0 0 20px orange;
    }
    100% {
        box-shadow: inset 0 0 5px yellow, inset 0 0 10px yellow, inset 0 0 15px yellow, inset 0 0 20px yellow;
    }
}

@keyframes borderRun {
    0% {
        border-image-source: linear-gradient(
            to right,
            transparent,
            white,
            transparent
        );
        transform: translateX(-100%);
    }
    100% {
        border-image-source: linear-gradient(
            to right,
            transparent,
            white,
            transparent
        );
        transform: translateX(100%);
    }
}

.active-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('effect/backgroudPickA.png');
    background-size: cover;
    z-index: 1; /* Đảm bảo hình ảnh nằm trên hình tướng nhưng dưới tên tuyển thủ */
    display: none; /* Ẩn mặc định */
}


